body {
		background: #cacaca;
		margin: 0;
		padding: 20px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   	font-weight: 300;
	}
#table {
		display: table; 	
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;
	 	box-sizing: border-box;
	 }
.caption {
	 	display: block;
	 	width: 100%;
	 	background: #9BEF52;
	 	height: 40px;
	 	padding-left: 10px;
	 	color: #2c2c2c;
	 	font-size: 22px;
	 	line-height: 40px;
	 	text-shadow: 0px 0px 0px rgba(0,0,0,.3);
	 	box-sizing: border-box;
	 }
.header-row {
	 	background: #8b8b8b;
	 	color: #fff;
	 }
.row {
		display: table-row;
	}
.cell {
		display: table-cell;	
		padding: 6px; 
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
	}
.primary {
		text-align: left;
	}
.reportTitle{
	font-weight: bold;
}
.reportData{
	font-weight: normal;
}

